body{
    margin: 15px;
}
.navbar{
    display: flex;
    justify-content:space-between;
    background-color:green;
    padding: 3%;
    font-size:larger;
    font-weight: bolder;
    color: white;
}

.nav-btn-group{
    display: flex;
    gap: 10px;
}
.nav-btn{
  border-style:none;
  color: white;
  background-color:green;
  font-weight: bolder;
  cursor: pointer;
}
.nav-btn:hover{
 border-bottom: solid ;
}
.brabu-nav{
    font-weight: bolder;
}
.skill-img{
    width: 75px;
}
.skill-img-div{
    border-style: solid ;
    margin: 5%;
    padding: 2%;
    display: flex;
    gap: 10px;
    border-color:green;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px green;
}
@media (max-width:500px) {
    .skill-img{
      width:50px;
    }
}
.skill-heading{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}
.brabu-img{
    width: 170px;
    border-radius: 100px;
    margin: 3%;
    border-style: solid;
    border-color: green;
    box-shadow: 0px 0px 7px 2px green;

}
.brabu-name{
    font-weight: bolder;
    animation-name: brabu-name-ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes brabu-name-ani {
    0%{
      color: green;
    }
    10%{
      color: black;
    }
    30%{
      color: white;
    }
    60%{
       color: black;
    }
    90%{
       color: green;
    }
    100%{
       color: green;
    }
}


.home-div{
    display: flex;
    margin-top: 4% ;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px green;
    padding: 10px;

}
.brabu-intro{
    margin-top:45px ;
    font-size: larger;
    margin-bottom: 45px;
}
@media(max-width:500px){
    .brabu-intro{
      margin-top:45px ;
      font-size: small;
     }
}
.contact-div{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color:green;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px green;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-img{  
    width: 40px;
    cursor: pointer;
}
.project{
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px green;
    display: flex;
    gap:40px;

}
.project-img{
    width: 75px;
}
.live-git{
    width: 30px;
    cursor:pointer;
}
.live-github{
    display: flex;
    gap: 10px;
}
.education{
    border-style: solid;
    border-radius: 10px;
    border-color: green;
    box-shadow: 0px 0px 3px 3px green;
    padding: 10px;
    margin: 20px;
}
.internship{
    border-style: solid;
    border-radius: 10px;
    border-color: green;
    box-shadow: 0px 0px 3px 3px green;
    padding: 10px;
    margin: 20px;
}
.about-img{
    width: 75px;
    border-radius: 10px ;
}
.abt-img-div{
    display: flex;
    justify-content: center;
 
}
.sclclg{
    display: flex;
    justify-content: center;   
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px ;
}
.batp-div{
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.home-gif-div{
    display: flex;
    justify-content: center;
}
.img-gif{
  width: 40%;
  margin: 10px;

  border-radius: 10px;
}