.navbar{
    display: flex;
    justify-content:space-between;
    background-color: blue;
    padding: 3%;
    font-size:larger;
    font-weight: bolder;
    color: white;
}
.nav-btn-group{
    display: flex;
    gap: 10px;
}
.nav-btn{
  border-style:none;
  color: white;
  background-color:blue;
  font-weight: bolder;
  cursor: pointer;
}
.nav-btn:hover{
 border-bottom: solid ;
}
.brabu-nav{
    font-weight: bolder;
}
.skill-img{
    width: 75px;
}
.skill-img-div{
    border-style: solid ;
    margin: 5%;
    padding: 2%;
    display: flex;
    gap: 10px;
    border-color: blue;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px blue;
}
@media (max-width:500px) {
    .skill-img{
      width:50px;
    }
}
.skill-heading{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}
.brabu-img{
    width: 170px;
    border-radius: 100px;
    margin: 3%;
}
.home-div{
    display: flex;
    margin-top: 4% ;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px blue;
    padding: 10px;

}
.brabu-intro{
    margin-top:45px ;
    font-size: larger;
    margin-bottom: 45px;
}
@media(max-width:500px){
    .brabu-intro{
      margin-top:45px ;
      font-size: small;
      color: blue;
     }
}
.contact-div{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px blue;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.contact-img{  
    width: 40px;
    cursor: pointer;
}